<%- include("_header") %>

<div class="pure-g">
<main class="pure-u-1 pure-u-xl-3-4">

<h1>NDNts Personal CA</h1>

<% if (profile) { -%>
<p>Certificate Authority running at <kbd><%= helper.altUri(profile.prefix) %></kbd> with enabled challenges: <%= challenges.join(", ") %>.</p>
<p><a href="profile.html">View</a> or <a href="profile.data">download</a> CA profile.</p>
<% } else { -%>
<p>Certificate Authority inactive.</p>
<% } -%>
<p><a href="profile-new.html">Create new CA profile</a>.</p>
<p><a href="keychain-list.html">Manage CA keychain</a>.</p>
<p><a href="manual-request.html">Submit a certificate request</a>.</p>
<p><a href="certs-list.html">List published certificates</a>.</p>

<% if (recentPinRequests) { -%>
<section>
<h2>Recent PIN Requests</h2>
<table class="pure-table pure-table-horizontal">
<thead>
<tr><th>request ID</th><th>PIN</th></tr>
</thead>
<tbody>
<% for (const { requestId, pin } of recentPinRequests) { -%>
<tr><td><%= helper.toHex(requestId) %></td><td><%= pin %></td></tr>
<% } -%>
</tbody>
</table>
</section>
<% } -%>

</main>
<aside class="pure-u-1 pure-u-xl-1-4">

<h2>Built with NDNts</h2>
<img src="logo.svg" alt="NDNts">
<p>This application is built with <a href="https://yoursunny.com/p/NDNts/">NDNts</a>, Named Data Networking libraries for the modern web.</p>
<p>View <a href="https://github.com/yoursunny/NDNts-CA">source code on GitHub</a>.</p>

</aside>
</div>

<%- include("_footer") %>
