<%- include("_header") %>

<main>

<h1>CA KeyChain</h1>

<table class="pure-table pure-table-horizontal">
<thead>
<tr><th colspan="2">name</th><th style="min-width: 30%;">actions</th></tr>
</thead>
<tbody>
<% for (const keyName of keyNames) { -%>
<tr>
  <td colspan="2"><%= helper.altUri(keyName) %></td>
  <td>
    <form action="keychain-delete-key.cgi" method="post" onsubmit="return confirm('Are you sure you want to delete key <%= helper.altUri(keyName) %>?')">
      <input type="hidden" name="name" value="<%= keyName.valueHex %>">
      <button type="submit" class="pure-button" title="delete key">delete</button>
    </form>
    <form action="keychain-selfsign.cgi" method="post">
      <input type="hidden" name="name" value="<%= keyName.valueHex %>">
      <button type="submit" class="pure-button" title="create self-signed certificate">self sign</button>
    </form>
    <form action="keychain-req.html" method="get">
      <input type="hidden" name="name" value="<%= keyName.valueHex %>">
      <button type="submit" class="pure-button" title="request a certificate from another CA">request cert</button>
    </form>
  </td>
</tr>
<% for (const certName of certNames.filter((n) => keyName.isPrefixOf(n))) { -%>
<tr>
  <td>&nbsp;</td>
  <td><%= helper.altUri(certName) %></td>
  <td>
    <form action="keychain-delete-cert.cgi" method="post" onsubmit="return confirm('Are you sure you want to delete certificate <%= helper.altUri(certName) %>?')">
      <input type="hidden" name="name" value="<%= certName.valueHex %>">
      <button type="submit" class="pure-button" title="delete certificate">delete</button>
    </form>
  </td>
</tr>
<% } -%>
<% } -%>
</tbody>
</table>

<p>
<a href="keychain-gen.html" class="pure-button pure-button-primary">Generate Key</a>
<a href="keychain-import-ndnsec.html" class="pure-button">Import from ndnsec</a>
</p>

</main>

<%- include("_footer") %>
