<%- include("_header") %>

<main class="pure-g">
<div class="pure-u-1">

<h1>Certificate Request</h1>
<p>
This is a certificate request for <kbd><%= helper.altUri(name) %></kbd>, with ValidityPeriod <kbd><%= cert.validity %></kbd>.
</p>
<pre>
<%= helper.certBase64(cert) %>
</pre>

<form action="keychain-req.html" method="get" class="pure-form">
<input type="hidden" name="name" value="<%= helper.nameHex(name) %>">
<fieldset>
<legend>Change ValidityPeriod</legend>
<label for="f_days">Days</label>
<input id="f_days" name="days" type="number" value="<%= days %>" min="1" max="720">
<button type="submit" class="pure-button">OK</button>
</fieldset>
</form>

<h2>Obtain certificate from ndnsec</h2>
<p>
If you have a parent key in ndn-cxx KeyChain, you may create a certificate with <kbd>ndnsec cert-gen</kbd> command.
In order for the NDN testbed to accept the certificate, subject name of the parent key must be a prefix of <kbd><%= helper.altUri(subjectName) %></kbd>.
Example command (assuming the parent key is named <kbd><%= helper.altUri(subjectName.getPrefix(-1)) %></kbd> in NFD keychain):
</p>
<pre>
sudo HOME=/var/lib/ndn/nfd -u ndn ndnsec cert-gen -s <%= subjectName.getPrefix(-1) %> &lt;&lt;-EOT
<%= helper.certBase64(cert) %>
EOT
</pre>

<p>Once you have obtained the certificate, enter it here:</p>
<form action="keychain-insert-cert.cgi" method="post" class="pure-form">
<fieldset>
<textarea rows="6" cols="70" style="font-family:monospace;" name="cert" required placeholder="base64 certificate"></textarea>
</fieldset>
<button type="submit" class="pure-button pure-button-primary">Save</button>
</form>

<h2>Obtain certificate from NDN Testbed Authority</h2>
<p>
You may request a certificate from <a href="https://ndncert.named-data.net/">ndncert-legacy system</a>.
The subject name of this key is <kbd><%= helper.altUri(subjectName) %></kbd>.
If ndncert-legacy suggested a different subject name (on <kdb>ndnsec-keygen</kdb> line), <a href="keychain-gen.html">generate a new key</a> and make certificate request from that key instead.
</p>

<p>Once you have received an email saying that your certificate is approved, paste the email body here:</p>
<form action="keychain-download-ndncert-legacy.cgi" method="post" class="pure-form">
<fieldset>
<textarea rows="6" cols="70" style="font-family:monospace;" name="email" required placeholder="This must contain https://ndncert.named-data.net/cert/get/ &#x2026;"></textarea>
</fieldset>
<button type="submit" class="pure-button pure-button-primary">Download and Import</button>
</form>

</div>
</main>

<%- include("_footer") %>
