<%- include("_header") %>

<div class="pure-g">
<main class="pure-u-1">

<h1>Certificate Issued</h1>
<p>Name: <kbd><%= helper.altUri(cert.name) %></kbd></p>
<p>Issuer: <kbd><%= helper.altUri(cert.issuer) %></kbd></p>
<p>ValidityPeriod: <kbd><%= cert.validity %></kbd></p>
<pre>
<%= helper.certBase64(cert) %>
</pre>

<h2>Import to ndnsec</h2>
<p>If you want to use this certificate in ndn-cxx, you can import the certificate with this command:</p>
<pre>
ndnsec cert-install -f- &lt;&lt;-EOT
<%= helper.certBase64(cert) %>
EOT
</pre>

</main>
</div>

<%- include("_footer") %>
