<%- include("_header") %>

<div class="pure-g">
<main class="pure-u-1">

<h1><%= title %></h1>

<p><%= message %></p>

</main>
</div>

<script>
setTimeout(() => <%- nextAction %>, 5000);
</script>

<%- include("_footer") %>
