<%- include("_header") %>

<main>

<h1>New CA Profile</h1>

<form action="profile-new.cgi" method="post" class="pure-form pure-form-stacked">
<fieldset>

<label for="f_cert">CA certificate</label>
<select id="f_cert" name="cert" required>
<% for (const certName of certNames) { -%>
<option value="<%= certName.valueHex %>"><%= helper.altUri(certName) %></option>
<% } -%>
</select>
<% if (certNames.length === 0) { -%>
<span class="pure-form-message">No certificate available. Go to <a href="keychain-list.html">keychain management</a>.</span>
<% } -%>

<label for="f_info">description</label>
<textarea id="f_info" name="info" rows="5" cols="80"></textarea>

<label for="f_validdays">max validity period (days)</label>
<input id="f_validdays" name="validdays" type="number" value="30" min="1" max="720">

<label class="pure-checkbox">
<input type="checkbox" name="challenge-nop" value="1">
enable "nop" challenge: automatically approve every request
</label>

<label class="pure-checkbox">
<input type="checkbox" name="challenge-pin" value="1" checked>
enable "pin" challenge: client must enter a PIN code displayed on this CA
</label>

<button type="submit" class="pure-button pure-button-primary">Submit</button>
<% if (profile) { -%>
<span class="pure-form-message">This action will replace the existing CA at <kbd><%= helper.altUri(profile.prefix) %></kbd></span>
<% } -%>

</fieldset>
</form>

</main>

<%- include("_footer") %>
